{% extends 'app/base.html' %}
{% block contenido %} 

{% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="button" class="btn btn-primary">
                                <a href="{% url 'home' %}">Regresar</a>
                            </button>
                            <input type="submit" value="ingresar" class="btn btn-success float-right">
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}