<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    
</head>
<body>

    
    <header id="header">
        <img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'app/img/favicon.png' %}" alt="logo">
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"> Inicio </a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li>
                        <a href="{% url 'galeria' %}">Galería</a>
                    </li>
                    <li>
                        <a href="{% url 'agregar_producto' %}">Agregar Producto</a>
                    </li>
                    <li>
                        <a href="{% url 'listar_productos' %}">Listar Productos</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesion</a>
                    </li>
                    <li>
                        <a href="#"> {{ user.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">iniciar sesion</a>
                    </li>
                    <li>
                        <a href="{% url 'registro' %}">Registro</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">

        

        {% block contenido %}
        {% endblock %}

    </div>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'app/js/menu.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });
    </script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "",
                    "text": "{{m}}",
                    "icon": "succes"
                })
            </script>
        {% endfor %}
    {% endif %}
    {% block js %}
    {% endblock %}

</body>
</html>