{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

<div class="title-cards">
    <h2>Maceteros</h2>
  </div>
  <div class="container-card">
  
  <div class="card">
  <figure>
    <img src="https://cdn.discordapp.com/attachments/882775474269478913/961110733125455882/unknown.png">
  </figure>
  <div class="contenido-card">
    <h3>Jardinera</h3>
    <a href="mac_jardinera.html">Comprar</a>
  </div>
  </div>
  <div class="card">
  <figure>
    <img src="https://cdn.discordapp.com/attachments/882775474269478913/961110448936218664/unknown.png">
  </figure>
  <div class="contenido-card">
    <h3>Macetero Redondo</h3>
    <a href="mac_redonda.html">Comprar</a>
  </div>
  </div>
  <div class="card">
  <figure>
    <img src="https://cdn.discordapp.com/attachments/882775474269478913/961109837960319067/unknown.png">
  </figure>
  <div class="contenido-card">
    <h3>Macetero Moderno</h3>
    <a href="mac_moderna.html">Comprar</a>
  </div>
  </div>
  </div>
  
  {% endblock %}